$width : 768px;

@mixin mobile {
    @media (max-width: #{$width})
    {
        @content
    }
}


*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#159957, #155799);
    width: 100%;
    height: 100vh;

    @include mobile{
        width: fit-content;
    }

    h1{
        margin: 10px;
        color: azure;

        @include mobile{
            text-align: center;
        }

    }
    .showbox{
        width: 95vw;
        height: 100%;

        @include mobile{
            width: 200vw;
            padding: 20px;
        }

        table{
            box-shadow: 2px 2px 14px whitesmoke;
            text-align: center;
            width: 100%;
            border: 2px solid wheat;
            border-collapse: collapse;
            color: white;
            text-shadow: 2px 1px rgb(70, 69, 69);

            tr{
                th{
                    color: aqua;
                    width: 16.4%;
                    height: 50px;
                    border: 2px solid wheat;
                }
            }
            
            tr{
                td{
                    padding: 5px;
                    border: 2px solid wheat;
                    height: 50px;

                    @include mobile{
                        height: 60px; 
                        width: 40px;   
                    }
                }
            }
        }
    }
}